# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
./angular-crud/dist
./angular-crud/tmp
./angular-crud/out-tsc
./angular-crud/bazel-out

# Node
./angular-crud/node_modules
./angular-crud/npm-debug.log
./angular-crud/yarn-error.log

# IDEs and editors
./angular-crud/.idea/
./angular-crud/.project
./angular-crud/.classpath
./angular-crud/.c9/
./angular-crud/*.launch
./angular-crud/.settings/
./angular-crud/*.sublime-workspace

# Visual Studio Code
./angular-crud/.vscode/*
./angular-crud/!.vscode/settings.json
./angular-crud/!.vscode/tasks.json
./angular-crud/!.vscode/launch.json
./angular-crud/!.vscode/extensions.json
./angular-crud/.history/*

# Miscellaneous
./angular-crud/.angular/cache
.sass-cache/
./angular-crud/connect.lock
./angular-crud/coverage
./angular-crud/libpeerconnection.log
./angular-crud/testem.log
./angular-crud/typings

# System files
./angular-crud/.DS_Store
./angular-crud/Thumbs.db
angular-crud/.angular
angular-crud/node_modules
